/*==============================
Add Global Text Parametrs
===============================*/
:root {
    --base-color-1: #f18a07;
    --base-color-2: #f2f2f2;
    --base-color-3: #1b1b1b;
    --box-shadow-color: rgb(92 44 25 / 70%);
    --box-shadow: 10px 10px 50px var(--box-shadow-color);
    --color-white: #fff;
    --color-black: #000;
    --color-grey: rgb(204 204 204 / 50%);
    --font-base: 'Inter', sans-serif;
    --transition-duration: 0.5s;
    --largerScale: 1.05;
}

html,
body {
    overflow-x: hidden;
}

/*================================================================
Overflow
================================================================*/
.overflow-y-clip{ 
    overflow-y: clip;
}
.overflow-visible{
    overflow: visible;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-x-auto{
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-base);
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    color: var(--base-color-2);

    background-color: var(--base-color-3);
    background-image: url("noise.png");
    background-size: auto;
    background-repeat: repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

/*==============================
 Header 
 ==============================*/
.main-navigation a {
    font-size: 18px;
    line-height: 20px;
    color: var(--base-color-2);
    text-transform: uppercase;

    background-color: transparent;

    transition-property: color, transform;
    transition-duration: var(--transition-duration), var(--transition-duration);
}

.main-navigation a:hover,
.main-navigation a:active,
.main-navigation a:focus {
    color: var(--base-color-1);
    transform: scale(var(--largerScale));
}

.main-navigation .active > a {
    color: var(--base-color-1);
}

.main-navigation li {
    list-style: none;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigatin {
    display: flex;
}

.site-navigatin a {
    display: block;
    padding: 60px 20px;
}

.site-navigatin li:last-child a {
    padding-right: 0px;
}

@media all and (max-width: 767px) {
    .main-navigation {
        width: 30px;
        height: 30px;
        background: red;
        overflow: hidden;
    }
}

/*Main Content Home Page*/
/*hero*/
.main-content {
    display: flex;
    flex-direction: column-reverse;
}

/*img width*/
.hero__img {
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

/*content wrapper*/
.main-content-wrapper {
    padding: 50px 0;
}

/*main style*/
h1,
h2,
h3,
h4,
h6,
h6 {
    font-weight: 300;
    text-transform: uppercase;
}

/*mobile font*/
h1 {
    font-size: 38px;
    line-height: 57px;
}

h2 {
    font-size: 30px;
    line-height: 45px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
}
/*background img*/
body:after {
    content: '';
    position: absolute;
    left: -400px;
    bottom: -200px;
    display: block;
    width: calc(100% + 400px);
    height: calc(100% + 200px);
    background-image: url('ellipse.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 116px -200px;
    z-index: -1;
}

@media all and (min-width: 768px) {
    body:after {
        width: 1218px;
        height: 1287px;
        background-position: initial;
    }
}

.main-content h1,
.main-content h2 {
    margin: 0;
    margin-bottom: 25px;
}

.main-content p,
.about p {
    margin: 0;
    margin-bottom: 50px;
}

.main-content p span {
    color: var(--base-color-3);
    font-weight: 400;
    background-color: var(--base-color-1);
}

.hero__text-content {
    margin-bottom: 35px;
}

/*main tablet*/
@media all and (min-width: 768px) {
    h1 {
        font-size: 46px;
        line-height: 69px;
    }

    h2 {
        font-size: 36px;
        line-height: 54px;
    }

    h3 {
        font-size: 28px;
        line-height: 42px;
    }

    /*Main Content Home Page*/
    .main-content {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .hero__text-content {
        margin-bottom: 0px;
    }

    /*img width*/
    .hero__img {
        max-width: 50%;
    }

    /*content wrapper*/
    .main-content-wrapper {
        padding: 100px 0;
    }
}

/*main desktop*/
@media all and (min-width: 981px) {
    h1 {
        font-size: 80px;
        line-height: 112px;
    }

    h2 {
        font-size: 44px;
        line-height: 52px;
    }

    h3 {
        font-size: 32px;
        line-height: 48px;
    }
}

/*==============================
 Footer 
 ==============================*/
.main-footer {
    padding: 50px 0;
}

.main-footer svg {
    fill: var(--base-color-2);

    transition-property: color, transform;
    transition-duration: var(--transition-duration), var(--transition-duration);
}

.main-footer svg:hover {
    fill: var(--base-color-1);
    transform: scale(var(--largerScale));
}

.main-footer li {
    list-style: none;
}

.footer-items p {
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
}

.footer-items ul {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.footer-items ul li {
    padding-right: 25px;
}

.footer-items ul li:last-child {
    padding-right: 0px;
}

/*footer tablet*/
@media all and (min-width: 768px) {
    .footer-items ul {
        justify-content: center;
    }

    .footer-items p {
        text-align: center;
    }
}

/*==============================
About Page
===============================*/
/*header h1*/
.about h1 {
    text-align: left;
}

.about h1 {
    margin: 0;
    margin-bottom: 25px;
}

/*text p*/
.about p {
    /* width: 40%; */
    margin-bottom: 25px;
}

/*table*/
.about-table {
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--base-color-2);

    overflow-x: auto;
    min-width: 300px;
}

td {
    padding: 5px;
    text-align: center;
    border: 1px solid var(--base-color-2);
}

th {
    padding: 10px;
    padding-right: 50px;

    text-align: left;

    border: 1px solid var(--base-color-2);
}

caption {
    margin-top: 5px;
    color: var(--base-color-1);
    caption-side: bottom;
}

/*Animation*/
/*sun start*/
@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* .sun {
    animation: 4s color-change infinite alternate linear;
  } */

/*cloud small start*/
@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

/* .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  } */
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

/*cloud big start*/
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/*About tablet*/
@media all and (min-width: 768px) {

    /*header h1*/
    .about h1 {
        text-align: center;
    }

    /*text p*/
    .about p {
        min-width: 800px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    /*table*/
    .about-table {
        margin: 0 auto;
    }
}

/*==============================
Contact Page
===============================*/
.contacts {
    display: flex;
    flex-direction: column;
}

/*contact form width*/
.contacts .contacts__column-left {
    margin-bottom: 50px;
}

/*contact form width*/
.contacts .contacts__column-right {
    width: 100%;
}

.contacts .contacts__column-right h2 {
    font-size: 20px;
    line-height: 24px;
}

.contacts h1,
.contacts h2 {
    margin: 0;
    margin-bottom: 15px;
}

.contacts h1 {
    font-size: 20px;
    line-height: 24px;
}

.contacts h2 {
    font-size: 38px;
    line-height: 57px;
}

/* Contact Form */
.contacts-list a {
    color: var(--base-color-2);

    transition-property: color;
    transition-duration: var(--transition-duration);
}

.contacts-list a:hover,
.contacts-list a:active,
.contacts-list a:focus {
    color: var(--base-color-1);
}

.contacts-list li {
    margin-bottom: 15px;
    margin-left: 20px;
}

.contacts-list li::marker {
    color: var(--base-color-1);
}

.contacts-list li:last-child {
    margin-bottom: 0px;
}

.contacts-list {
    margin: 0;
    padding: 0;
}

/*contact button width*/
.contacts .button {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.contacts div:last-child .button {
    float: right;
    margin-top: 25px;
}

.button {
    display: inline-block;
    padding: 15px 30px;

    color: var(--base-color-2);
    font-weight: 400;
    text-transform: uppercase;

    border: 1px solid var(--base-color-2);
    border-radius: 50px;

    background-color: transparent;

    transition-property: color, border, transform;
    transition-duration: var(--transition-duration), var(--transition-duration), var(--transition-duration);
}

.button:hover,
.button:active,
.button:focus {
    color: var(--base-color-1);
    border: 1px solid var(--base-color-1);

    transform: scale(var(--largerScale));
}

.appointment-item {
    position: relative;
    margin: 0;
}

.appointment-item label {
    position: absolute;
    left: 0;
    top: 10px;
}

.appointment-item input,
.appointment-item textarea {
    width: 100%;
    padding: 15px 15px 15px 100px;

    color: var(--base-color-2);
    background-color: transparent;

    border: none;
    border-bottom: 1px solid var(--color-grey);

    transition-property: border-bottom;
    transition-duration: var(--transition-duration);
}

.appointment-item input:hover,
.appointment-item textarea:hover {
    color: var(--base-color-1);
    border: none;
    border-bottom: 1px solid var(--base-color-1);
}

.appointment-item input:focus-visible,
.appointment-item textarea:focus-visible {
    color: var(--base-color-1);
    border-bottom: 1px solid var(--base-color-1);
}

input::placeholder {
    color: var(--color-grey);
    font-weight: 300;
}

*:focus-visible {
    outline: none;
    box-shadow: 1px 1px 5px var(--base-color-1);
}

.contacts textarea {
    height: 150px;
}

/*Contact tablet*/
@media all and (min-width: 768px) {
    .contacts h2 {
        font-size: 80px;
        line-height: 96px;
    }
}

/*Contact desktop*/
@media all and (min-width: 981px) {
    .contacts {
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts .contacts__column-left {
        width: 50%;
        margin-bottom: 0px;
    }

    /*contact button width*/
    .contacts .button {
        margin-top: 25px;
        width: auto;
    }

    /*contact form width*/
    .contacts .contacts__column-right {
        width: 40%;
    }
}

/*==============================
Work Page
===============================*/
/*header work*/
.work-grid h1 {
    margin: 0;
    margin-bottom: 25px;
    text-align: left;
}

.work-grid h2,
.work-grid p {
    margin: 0;
    margin-bottom: 15px;
}

.work-grid h2 {
    font-size: 40px;
    line-height: 44px;
}

.work-grid a {
    color: var(--base-color-2);
    text-decoration: underline;

    transition-property: color;
    transition-duration: var(--transition-duration);
}

.work-grid a:hover {
    color: var(--base-color-1);
}

/*mobile 1 column*/
.project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.project-list__item {
    padding: 20px;
    background-color: var(--box-shadow-color);
    border-radius: 10px;

    transition-property: box-shadow, transform;
    transition-duration: var(--transition-duration), var(--transition-duration);
}

.project-list__item:hover {
    box-shadow: var(--box-shadow);
    transform: scale(var(--largerScale));
}

/*Work tablet*/
@media all and (min-width: 768px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }

    /*header work*/
    .work-grid h1 {
        text-align: center;
    }
}

/*Work desktop*/
@media all and (min-width: 981px) {
    .project-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}